html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-bar {
    background-color: #FFFFFF;
    height: 100vh;
    flex-basis: 18%;
    border-right:1px solid #EBEFF2;
    box-shadow: 6px 0px 18px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
}

.name {
    height: 7%;
    border-bottom: 1px solid #EBEFF2;
    display: flex;
}

.caption {
    align-self: center;
    font-family: Open Sans;
    font-size: 1vw;
    margin-left: 10%;
}

.personal-info {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.main-avatar {
    height: 3vw;
    width: 3vw;
    border-radius: 50px;
    margin-top: 10%;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 5%;
}

.pages {
    border-bottom: 1px solid #EBEFF2;
    margin-top: 15%;
    margin-left: 10%;
}
.page {
    display: flex;
    flex-direction: row;
    color: #334D6E;
    font-size: 1.2vw;
    margin-bottom: 7%;
}

.settings {
    display: flex;
    flex-direction: row;
    color: #334D6E;
    font-size: 1.2vw;
    margin-top: 10%;
    margin-left: 10%;
}

.toggle {
    display: flex;
    flex-direction: row;
    color: #90A0B7;
    font-size: 1vw;
    margin-top: auto;
    margin-left: 10%;
    margin-bottom: 7%;
}

.dashboard {
    flex-basis: 82%;
    height: 100vh;
}

.search-bar {
    width: 98%;
    height: 7%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EBEFF2;
    display: flex;
}

.search-icon {
    width: 1.2vw;
    height: 1.2vw;
    align-self: center;
    margin-left: 2%;
}

.search-field {
    width: 98%;
    height: 100%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #90A0B7;
    align-self: center;
    margin-left: 1%;
}

.notification-icon {
    height: 1.5vw; 
    width: 1.5vw; 
    align-self: center; 
    margin-right: 1%;
}

.grid-wrapper {
    background-color: #F5F6F8;
    display: flex;
    width: 100%;
    height: 93%;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 58% 40%;
    grid-template-rows: 48% 48%;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
    column-gap: 2%;
    row-gap: 4%;
}

.tasks {
    background-color: #FFFFFF;
    grid-row: span 2;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}


.tasks-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EBEFF2;
    justify-content: flex-start;
    flex-basis: 10%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;  
    margin-top: 2%;
 
}

.tasks-progress {
    font-size:1.38vw; 
    color: #334D6E;
}

.show {
    display: flex;
    justify-content: flex-end;
    flex-basis: 40%;
    align-items: center;
}

.show-semicolon {
    font-size: 1vw;
    color: #6A707E;
}

.this-week {
    margin-left: 2%; 
    font-size:1vw;
}

.indicator-container {
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}
.indicator {
    width: 80%;
    height: 4px;
    color: #2ED47A;
    border-radius: 4px;
}


.polygon {
    height: 20%;
    align-self: center;
    margin-left: 5px;
}

.date {
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #192A3E;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}

.week-calendar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 4%;
    margin-bottom: 4%; 

}


.day-cell {
    display: flex;
    flex-direction: column;
}

.day {
    font-weight: 500;
    font-size: 1vw;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #334D6E;
    opacity: 0.5;
}

.n {
    align-self: center;
    font-size: 1vw;
    color: #4C5862;
    padding-left: 3px;
    padding-right: 3px;
}

.cian {
    color: #109CF1
}
.selected-day {
    background-color: #109CF1; 
    border-radius: 50px;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #109CF1;
}

.card-list{
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-top: 2%; 
    margin-right: auto;
    margin-left: auto; 
    overflow: hidden;  
    flex-basis: 90%;
    overflow-y: auto;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

.task-description {
    font-size: 1.5vw; 
    color: #323C47"
}

.left {
    display: flex;
    flex-direction: column; 
    margin: 2%;
}

.due-date {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    align-items: center;
}

.due {
    font-size: 1vw; 
    color: #4C5862; 
    opacity: 0.5;
}

.due-month {
    font-size: 1vw; 
    color: #4C5862; 
    margin-left: 5px;
}

.creator {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;

}

.avatar {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50px;
}

.creator-name {
    font-size: 1vw; 
    color:#707683; 
    margin-left: 5px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    flex-basis: 30%;
}

.task-type {
    font-size: 1vw; 
    color: #90A0B7; 
    margin-top: 3%; 
    text-align: end;
}


.status {
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 1vw;
    text-align: center;
    margin-bottom: 3%;
    width: 60%;
    align-self: flex-end;
}

.ended {
    display: flex;
    justify-content: space-between;
}

.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    font-size: 1vw;
}


.deals {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.header-g {
    font-size:1vw; color: #334D6E;
}

.closed-deals {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;  
    margin-top: 2%;
}

.closed-deals-icon {
    height: 0.8vw; 
    width: 0.8vw; 
    align-self: center; 
    margin-left: 1%;
}

.closed-deals-text {
    font-size: 0.8vw; 
    margin-left: 2%;
}

.graphs-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;  
    margin-top: 2%;
    border-bottom: 1px solid #EBEFF2;
    padding: 1% 1% 3% 1%;
}

.graph {
    margin-top: 5%;
    width: 94%; 
    height: 65%; 
    align-self: center;
}


.progress {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.progress-graph {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;  
    margin-top: 5%;
    height: 77%;
    width: 94%;
}

.g {
    flex-basis: 70%;
    height: 90%; 
    align-self: center;
}

.legend {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 7%;
}

.legend-bullet {
    font-size: 1vw;
    margin-left: 7%;
}

.legend-icon {
    width: 0.8vw;
    height: 0.8vw;
    align-self: center;
}







